@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@500&display=swap");

body {
  margin: 0px;
  padding: 0px;

  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1190px) {
  .header {
    background-size: 1150px !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container {
    flex-wrap: wrap;
    height: auto;
  }
 
}

@media (max-width: 970px) {
  .header {
    background-image: none !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about_image {
    display: none;
  }
  .presentationImg{
    display: none;
    
  }

  .image{
    height: auto;
  }

  #btn{
    display: none;
  }

  #about{
    margin-top:500px ;
  }

  #about1{
    margin-top: 50px;
    height: 150px;
  }
  #about2{
    margin-top: 60px;
    height: 150px;
    margin-bottom: 50px;
  }

  
}

@media (max-width: 600px) {
  .name {
    width: 60%;
  }
}
.scroll {
  left: 42.5%;
}





